<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.deckaddict.android.ScanDPI"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/scandpi_icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
			android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.5.1" android:name="xposedminversion"/>
        <meta-data android:value="Overrides scanner DPI settings in HP All-In-One Printer Remote application" android:name="xposeddescription"/>
    </application>

</manifest>
